html {
    background-color: white;
}

body {
    font: 10px sans-serif;
}

.axis path,

.axis line{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#large_title{
    font: 26px sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: lightblue;
    border-style: solid;
    width: 1300px;
}

.line{
    fill: none;
    stroke-width: 2px;
}

.title{
    font: 18px sans-serif;
    font-weight: bold;
    text-align: center;
    width: 1300px;
    border-style: solid;
    background-color: orange;
}

#para_coords {
    width: 1300px;
    height: 400px;
    border-style: solid;
}

#line {
    width: 1300px;
    height: 400px;
    border-style: solid;
}

#fred_plot {
    width: 1300px;
    height: 400px;
    border-style: solid;
}

.drop_down {
    background-color: yellowgreen;
    width: 1300px;
    border-style: solid;
}

.separator{
    height: 10px;
    background-color: white;
}

.parcoords > svg, .parcoords > canvas {
    font: 12px sans-serif;
    position: absolute;
}
.parcoords > canvas {
    pointer-events: none;
}

.parcoords text.label {
    cursor: default;
}

.parcoords rect.background {
    fill: transparent;
}
.parcoords rect.background:hover {
    fill: rgba(120,120,120,0.2);
}
.parcoords .resize rect {
    fill: rgba(0,0,0,0.1);
}
.parcoords rect.extent {
    fill: rgba(255,255,255,0.25);
    stroke: rgba(0,0,0,0.6);
}
.parcoords .axis line, .parcoords .axis path {
    fill: none;
    stroke: #222;
    shape-rendering: crispEdges;
}
.parcoords canvas {
    opacity: 1;
    -moz-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
}
.parcoords canvas.faded {
    opacity: 0.25;
}
.parcoords {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
}